.app-grid {
  display: grid;
  grid-template-rows: 48px 1vh;
  padding-top: 5px;
}

.app-grid__header {
  font-family: Jazz LET, fantasy;
  font-size: 200%;
  background-color: var(--color-marked);
  padding-top: 10px;

  text-align: center;
}

.app-grid__scrollarea {
  overflow-y: auto;
}

/*.app-grid--no-scroll {
  grid-template-rows: 10vh;
}*/
