.card {
  padding: 1rem;
  margin: 1rem;
  background: var(--color-light);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3); /* I don't know how to define this separately*/
  border-radius: 15px;
  min-width: 200px;
  height: fit-content;
  position: relative;
  text-align: center;
}

.bookmark {
  position: absolute;
  top: -3px;
  right: 20px;
  z-index: 10;
  border: none;
}

/*.bookmark:focus {
  background-color: var(--color-marked);
  border-radius: 6px;} /*The button switches shape after clicking it and I don't want that, but I guess we'll still do this one anyway*/

.bookmark__marked {
  fill: var(--color-active) !important;
  height: 30px;
  width: 30px;
}

/*.bookmark__marked {
  position: absolute;
  top: -10px;
  right: 40px;
  background-color: var(--color-marked);
  border-radius: 6px;
}*/

.bg-teal {
  background-color: var(--color-marked);
}

.card__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.card__list-items {
  background-color: var(--color-tags);
  padding: 2px 8px;
  margin: 5px;
  border-radius: 4px;
}

.card__answer--hide {
  display: none;
}

.hidden {
  display: none;
}

.card__answer-button {
  margin: 8px;
  background-color: var(--color-button);
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 12pt;
}

h2 {
  padding: 5px;
}

p {
  padding: 5px;
}
