<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Quiz App</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <script defer src="../../js/index.js"></script>
  </head>

  <section class="card">
    <h2>Question:</h2>
    <hr />
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.
    </p>
    <hr />
    <button data-js="answer-button" class="card__answer-button">
      <span data-js="answer-button-show">Show answer</span>
      <span data-js="answer-button-hide" class="card__answer--hide"
        >Hide answer</span
      >
    </button>
    <p data-js="answer-text" class="card__answer--hide">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.
    </p>
    <hr />
    <ul role="list" class="card__list">
      <li class="card__list-items">tag 1</li>
      <li class="card__list-items">tag 2</li>
      <li class="card__list-items">tag 3</li>
      <li class="card__list-items">tag 4</li>
    </ul>
  </section>
</html>
<!--
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
      ipsum dolor sit amet.
      </p>
<hr/>
      <ul role="list" class="card__list">
<li class="card__list-items">tag 1</li>
<li class="card__list-items">tag 2</li>
<li class="card__list-items">tag 3</li>
<li class="card__list-items">tag 4</li>
</ul>
    </section>
-->
