<section class="card-grid h-75">
  <header>
    <h1 class="bg-hotpink">Question</h1>
    <!-- <img class="bookmark" src="" /> -->
  </header>
  <div class="content bg-blue">
    <h2>Example question goes here</2>
    <button class="button--collapsible">Show Answer</button>
    <p class="hidden">Example answer goes here</p>
  </div>
  <div class="categories bg-coral">
    <ul>
      <li>Category 1</li>
      <li>Category 2</li>
      <li>Category 3</li>
      <li>Category 4</li>
    </ul>
  </div>
</section>
