<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <nav class="nav__grid">
      <a href="../../index.html" class="nav__icons">
        <img src="../../images/home.svg" alt="home" width="20" height="20" class="nav--active" />
      </a>
      <a href="../../bookmarks.html" class="nav__icons">
        <img src="../../images/bookmark.svg" alt="bookmarks" width="20" height="20" class="nav__img"
      /></a>
      <a href="../../create.html" class="nav__icons">
        <img src="../../images/create.svg" alt="create" width="20" height="20" class="nav__img"
      /></a>
      <a href="../../profile.html" class="nav__icons">
        <img src="../../images/bookmark.svg" alt="profile" width="20" height="20" class="nav__img"
      /></a>
    </nav>
  </body>
</html>
