*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[role='list'] {
  list-style: none;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  font-size: 15pt;
}
